* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* temporary styles for strucutral html */




/* universal styles and utility classes */

body {  
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}

.padded { padding: 5%;}
.padded-sm { padding: 1rem;}
.padded-lg {padding: 10%;}

.bg-green {
    background-color: #E0E6DC;
    color: #192B37;
}

Header {
    background-image: url('/images/Bailey-1.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 5.5rem;
    line-height: 1;
}





